body {
  padding: 10px 0;
}

.searchbox input {
  position: absolute;
  right: 0;
  width: 40px;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
  opacity: 0;
}
.searchbox input:focus {
  background-color: #fff;
  width: 300px;
  z-index: 1;
  cursor: text;
  opacity: 1;
}
.searchbox button {
  background: none;
  border: none;
  box-shadow: none;
  position: absolute;
  right: 0;
  z-index: 2;
  cursor: pointer;
  padding: 6px 12px;
}
.searchbox button:focus {
  background: none;
  position: absolute;
  right: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 0.8;
}
.searchbox button:focus:hover {
  background: none;
  opacity: 1;
}

.post-editing, .page-editing {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.post .date, .post .tags {
  font-size: 0.8em;
  line-height: 0.7;
}