html,
body {
  background: #f9f9f9;
}

body {
  padding: 70px 0;
}

.body img {
  max-width: 100%;
}

a:hover {
  text-decoration: none;
}

.post .body a, .post .excerpt a, 
.page .body a {
  color: grey;
  text-decoration: underline;
  webkit-transition: all 300ms;
  -moz-transition:   all 300ms;
  transition:        all 300ms;
}

.post .body a:hover, .post .excerpt a:hover, 
.page .body a:hover {
/*  color: #C8E6C9;*/
  text-decoration: none;
}

[data-ember-action] {
  cursor: pointer;
}

.navbar {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.post,
.post-editing,
.page-editing {
  border-radius: 3px;
  background-color: white;
  padding: 0 8px 8px 8px;
  box-shadow:         0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow:    0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  
  -webkit-transition: all 1000ms;
     -moz-transition: all 1000ms;
          transition: all 1000ms;
}

.post:hover,
.post-editing:hover,
.page-editing:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.post-title {
  background-color: #03A9F4;
  margin-right: -8px;
  margin-left: -8px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 3px 8px 8px 8px;
  color: white;
  text-decoration: none;
}
a .post-title:hover {
  background-color: #0096d9;
}

.post .date,
.post .tags {
  padding-top: 3px;
  display: inline;
  font-size: 0.8em;
  line-height: 0.7;
}

.seperator {
  border-bottom: solid 1px lightgrey;
  margin-right: -8px;
  margin-left: -8px;
  padding-right: 8px;
  padding-left: 8px;
}

.more {
  display: block;
  position: absolute;
  margin-top: -17px;
  padding: 5px;
  border-radius: 20px;
  -webkit-transition: all 1000ms;
  -moz-transition: all 1000ms;
  transition: all 1000ms;
  background-color: #388E3C;
  right: 20px;
}

.edit {
  border: 0;
  background: transparent. display: block;
  position: absolute;
  margin-top: -17px;
  padding: 5px;
  border-radius: 50px;
  -webkit-transition: all 1000ms;
  -moz-transition: all 1000ms;
  transition: all 1000ms;
  background-color: #388E3C;
  right: 60px;
}

.more:hover, .edit:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.searchbox input[type="text"] {
  position: absolute;
  right: 0;
  width: 40px;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
  opacity: 0;
}

.searchbox input[type="text"]:focus {
  background-color: #fff;
  border: none;
  width: 200px;
  z-index: 1;
  cursor: text;
  opacity: 1;
}

.searchbox button[type="submit"] {
  border: none;
  background: none;
  box-shadow: none;
  color: #c8e6c9;
}
.searchbox button[type="submit"],
.searchbox button[type="submit"]:focus {
  position: absolute;
  right: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 0.8;
}

.searchbox button[type="submit"]:focus:hover {
  opacity: 1;
  color: grey;
}

.post-editing,
.page-editing {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.navbar-default {
  background-color: teal;
  background-image: none;
  background-repeat: no-repeat;
}

.navbar-default {
  background-color: #4caf50;
  border-color: #388e3c;
}

.navbar-default .navbar-brand {
  color: #c8e6c9;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}

.navbar-default .navbar-text {
  color: #c8e6c9;
}

.navbar-default .navbar-nav > li > a {
  color: #c8e6c9;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #388e3c;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #388e3c;
}

.navbar-default .navbar-toggle {
  border-color: #388e3c;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #388e3c;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #c8e6c9;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #c8e6c9;
}

.navbar-default .navbar-link {
  color: #c8e6c9;
}

.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #c8e6c9;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #388e3c;
  }
}