html, body{
  background: #f9f9f9;
}

body {
  padding: 70px 0;
}

.body img {
  max-width: 100%;
}

a{
    color: grey;
}

a:hover{
    color: #C8E6C9;
    text-decoration: none;
}

.navbar{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.single, .post-editing, .page-editing{
    border-radius: 3px;
    background-color: white;
    padding: 8px;
    padding-top: 0px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -webkit-transition: all 1000ms;
    -moz-transition: all 1000ms;
    transition: all 1000ms;
}

.single:hover, .post-editing:hover, .page-editing:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.single h1{
    background-color: #03A9F4;
    margin-right: -8px;
    margin-left: -8px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 8px;
    padding-top: 3px;
    color: #212121;
}

.single .date, .single .tags{
    padding-top: 3px;
    display: inline;
}

.seperator{
    border-bottom: solid 1px lightgrey;
    margin-right: -8px;
    margin-left: -8px;
    padding-right: 8px;
    padding-left: 8px;
}

.more{
    display: block;
    position: absolute;
    margin-top: -17px;
    padding: 5px;
    border-radius: 20px;
    -webkit-transition: all 1000ms;
    -moz-transition: all 1000ms;
    transition: all 1000ms;
    background-color: #388E3C;
    right: 20px;
}

.edit{
    border:0;
    background:transparent.
    display: block;
    position: absolute;
    margin-top: -17px;
    padding: 5px;
    border-radius: 50px;
    -webkit-transition: all 1000ms;
    -moz-transition: all 1000ms;
    transition: all 1000ms;
    background-color: #388E3C;
    right: 60px;
}

.more:hover{
   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.searchbox input[type="text"] {
  position: absolute;
  right: 0;
  width: 40px;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
  opacity: 0;
}

.searchbox input[type="text"]:focus {
  background-color: #fff;
  width: 200px;
  z-index: 1;
  cursor: text;
  opacity: 1;
}

.searchbox button[type="submit"] {
  border: none;
  background: none;
  box-shadow: none;
  position: absolute;
  right: 0;
  z-index: 2;
  cursor: pointer;
}

.searchbox button[type="submit"],
.searchbox button[type="submit"]:focus {
  position: absolute;
  right: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 0.8;
}

.searchbox button[type="submit"]:focus:hover {
  opacity: 1;
}

.post-editing, .page-editing {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.post .date, .post .tags {
  font-size: 0.8em;
  line-height: 0.7;
}

.navbar-default {
  background-color:teal;
  background-image: none;
  background-repeat: no-repeat;
 }

.navbar-default {
  background-color: #4caf50;
  border-color: #388e3c;
}
.navbar-default .navbar-brand {
  color: #c8e6c9;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #c8e6c9;
}
.navbar-default .navbar-nav > li > a {
  color: #c8e6c9;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #388e3c;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #388e3c;
}
.navbar-default .navbar-toggle {
  border-color: #388e3c;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #388e3c;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #c8e6c9;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #c8e6c9;
}
.navbar-default .navbar-link {
  color: #c8e6c9;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #c8e6c9;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #388e3c;
  }
}